<!-- d-flex flex-column vh-100 in body, mt-auto in footer to fix it to the bottom -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-center">
        <span class="text-muted">@oucar 2022</span>
    </div>
</footer>

