.map-index {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
}

.map-placeholder {
    display: block;
    height: 500px;

}

.map-show {
    width: 100%;
    height: 300px;
}

.heading {
    text-align: center;
}