<% layout('layouts/boilerplate')%>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="h-100 d-flex justify-content-center">

        <div class="col-12">
            <div class="card shadow">
                <img src="/login.gif"
                    alt="" class="card-img-top" />
                <div class="card-body">

                    <!-- Form -->
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>

                        <!-- Username -->
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/vertical.css">
